.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 23px -1px 104px 26px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 23px -1px 104px 26px rgba(0, 0, 0, 0.26);
  box-shadow: 23px -1px 104px 26px rgba(0, 0, 0, 0.26);
  margin: 30px 0;
}
